In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Let's start by loading a Miriam data file

In [2]:
df = pd.read_csv('miriam_20202011_151410_a.csv')

In [3]:
df

,Time,U,M,extra,box,A1_neg,A2_neg,A3_neg,A4_neg,A5_neg,...,H4_pos23,H5_pos23,H6_pos23,H7_posctrl,H8_posctrl28,H9_posctrl,H10_water,H11_water,H12_water,Unnamed: 101
0,2020-11-20T14:12:01,62.10,66.00,66.00,49.81,695,763,701,506,209,...,706,749,997,361,482,595,760,723,1023,NaN
1,2020-11-20T14:13:02,62.28,64.98,58.42,49.55,1019,742,706,508,203,...,710,749,987,357,473,578,767,726,1023,NaN
2,2020-11-20T14:14:03,63.80,64.39,60.30,49.55,1022,718,709,503,200,...,704,738,962,349,460,570,765,724,1023,NaN
3,2020-11-20T14:15:04,65.39,64.58,60.47,49.68,1022,690,712,499,188,...,707,734,945,346,455,562,760,718,1023,NaN
4,2020-11-20T14:16:05,65.39,64.98,60.65,49.68,1023,671,715,502,190,...,707,734,924,343,450,565,762,720,1023,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2020-11-20T15:08:57,65.39,65.59,61.01,50.48,966,972,872,596,280,...,917,974,970,620,532,707,969,764,1023,NaN
57,2020-11-20T15:09:58,65.39,65.39,61.01,50.48,967,971,874,598,280,...,925,982,974,621,535,709,979,764,1023,NaN
58,2020-11-20T15:10:59,65.39,65.39,61.01,50.48,968,972,875,601,282,...,932,981,975,621,533,710,980,764,1023,NaN
59,2020-11-20T15:12:00,65.39,65.59,61.01,50.48,979,973,877,602,284,...,932,985,978,626,537,711,986,764,1023,NaN
60,2020-11-20T15:13:01,65.39,65.59,61.01,50.48,991,971,879,603,284,...,938,992,980,633,542,713,993,766,1023,NaN

If we inspect the column names, we can see that they have been modified to indicate what was loaded in each well. We note that only the column names with a `'_'` are the names of wells. The others describe time or temperature parameters. (These data are from an old version of Miriam with less understandable names for these parameters.) Therefore, we anticipate a little function like this will be useful:

```python
def has_underscore(colname):
    return '_' in colname
```

# Q1 Make a list of all column names called `colnames`

In [4]:
# YOUR CODE HERE
raise NotImplementedError()

NotImplementedError:

In [ ]:
assert len(colnames)==102
assert 'A1_neg' in colnames
assert 'Time' in colnames

# Q2 Let's plot all of our data to get an initial impression

Make a plot of the `Time` column against each of the other columns with fluorescence data. It should look like this.

![all_timeseries_chaos.png](all_timeseries_chaos.png)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Note that each trace seems to start from a different level. Let's get rid of this.

# Q3 Now, let's subtract a "baseline" fluorescence from each well's data and replot. We do this by averaging the first 20 values from each well and then plotting as above.

The results should look like this

![baseline_subtracted.png](baseline_subtracted.png)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

# Q4 Finally, let's use our pre-existing knowledge of the contents of each well to color the trace.

We can set a variable `color` based on the column name like so:

```python
if 'neg' in colname:
    color = 'b'
elif 'pos' in colname:
    color = 'r'
else:
    color = 'k'
```

and then pass the `color` keyword argument to the `plot()` function. The results should look like this:

![colored-miriam-results.png](colored-miriam-results.png)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()